<!-- Display video cards here with 
    poster-image
    length of video in hh:mm:ss format
    2-liner description
    duration since last published 
    number of views
-->


<mat-card app-player matRipple class="card" *ngFor="let video of video$ | async">
    <a href="#">
      <img mat-card-image [src]="video.snippet.thumbnails.high.url">
    </a>
    <div id="duration">{{ video.contentDetails.length }}</div>
    <mat-card-content>
      <h5>{{ video.snippet.title }}</h5>
      <p>{{ video.snippet.channelTitle }}</p>
      <p>{{ video.statistics.viewCount }} views . {{ video.snippet.relativeTime }}</p>
    </mat-card-content>
</mat-card>
        