.card {
    width: 250px;
    height: 350px;
    display: inline-block;
    margin: 15px 30px;
}

.card img{
    height: 160px;
}

.card h5{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 1.15em;
    -webkit-line-clamp: 2;
}

#duration {
    background-color: black;
    color: white;
    position: absolute;
    top: 23vh;
    right: .5vw;
    width: auto;
    height: 20px;
    text-align: right;
    padding: 1px 6px;
}
